<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--
ACCESS_COARSE_LOCATION is used when we use network location provider for our Android app.
        But, ACCESS_FINE_LOCATION is providing permission for both providers.
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission
        android:name="android.hardware.sensor.stepcounter"
        android:required="true" />
    <uses-permission
        android:name="android.hardware.sensor.stepdetector"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalHealthTracker"
        tools:targetApi="31">
        <activity
            android:name=".data.AddActivitiesAndShowToUser"
            android:exported="false" />
        <activity
            android:name=".ui.startNewActivity.running.BarChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.startNewActivity.TrackRunActivity"
            android:exported="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBs-NTW8knFyaphy2g0IZBGj_3kRTEGXhs" />

        <activity
            android:name=".ui.startNewActivity.breathTaking.BreathTakingExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.startNewActivity.diving.DivingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.startNewActivity.stepCounting.StepCounterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>